.BlogCard {
  border-radius: 5px;
  box-shadow: 0px 1px 8px 0px grey;
  width: min-content;
  max-width: 300px;
  min-width: 300px;
  height: 100%;
  min-height: 350px;
  overflow: hidden;
}

.imageContainer{
 overflow: hidden;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.InfoContainer{
 padding: 1em;
}

.InfoContainer p{
 margin: 0.5em 0;
}

.InfoContainer a{
 color: white;
    font-weight: bold;
    background-color: rgb(24, 174, 229);
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    float: right;
    margin-bottom: 1em;
    cursor: pointer;
    text-decoration: none;
}